<h1>Hello, AlpVision Team</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>This application allows you to upload a txt file to the server and it gives you back the file with all the letters in capital</p>
<h2 class="bg-green">All Caps</h2>

<div class="col-md-3">
  <input type="file" #file placeholder="Choose file" >
  <button type="button" class="btn btn-danger" (click)="uploadFile()">Upload File</button>
</div>

